body{
	background-image: url(../img/QQ图片20191018162351.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover ;
	}
<style type="text/css">

     audio{

             display: none;

         }

</style>